<section class="container text-center my-4">
  <h2 class="text-info fw-bold">Recuerdos Juntos</h2>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 my-3 d-flex justify-content-center">
      <div class="image-container">
        <img src="foto123.jpg" alt="Recuerdo 1" class="img-fluid rounded shadow-lg" />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3 d-flex justify-content-center">
      <div class="image-container">
        <img src="foto1234.jpg" alt="Recuerdo 2" class="img-fluid rounded shadow-lg" />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3 d-flex justify-content-center">
      <div class="image-container">
        <img src="foto12345.jpg" alt="Recuerdo 3" class="img-fluid rounded shadow-lg" />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-3 d-flex justify-content-center">
      <div class="image-container">
        <img src="foto123456.jpg" alt="Recuerdo 4" class="img-fluid rounded shadow-lg" />
      </div>
    </div>
  </div>
  <i class="ph ph-camera text-info" style="font-size: 2rem;"></i>
</section>

<style>
  .image-container {
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .image-container img:hover {
    transform: scale(1.05);
  }
</style>
