<section class="container text-center my-4 p-3 bg-light shadow-lg rounded">
  <blockquote class="blockquote text-dark">
    <p class="mb-0 fw-bold">“Existiendo ya me has dado toda la felicidad de este universo mi amor”</p>
  </blockquote>
  <i class="ph ph-quote text-secondary" style="font-size: 1.8rem;"></i>
</section>