<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para Mi Amor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <style>
      body {
        background: linear-gradient(to right, #ffecd2, #fcb69f);
        font-family: 'Poppins', sans-serif;
      }
      section {
        padding: 40px 10px;
      }
      .shadow-lg {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) !important;
      }

    </style>
  </head>
  <body class="bg-light text-dark">
    <slot />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
  </body>
</html>